.title {
   margin: 0;
   padding-top: 8px;
   display: inline-block;
}

.title a{
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    color:  #fff;
    transition : all .5s ease;
    font-family:"Helvetica";
    font-weight: 600;

    

}

.title a:hover{
    text-decoration: underline  #fff;

}