.album-name h2 {
    font-family: Helvetica;
    font-size: 14px;
    color: #ffffff;
}

.album-name a {
    text-decoration: none;
}

.album-name a:hover{
    color: #ffffff;
    text-decoration: underline;
}