/* ---------------- Hero styling ---------------- */
.header {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text {
    color: #ffffff;
    margin: 0.5rem 0;
}