
.icon-wrapper{
    position: absolute; 
    opacity: 0;
}

button {
    border: none; 
    width: 45px; 
    background-color: transparent;
}

button:hover {
    scale: 1.3;
  }

svg {
    fill: white; 
}

