.icon-wrapper {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  opacity: 0;
}

.heart,
.dots {
  border: none;
  width: 40px;
  background: transparent;
}

.play {
  border: none;
  width: 50px;
  background: transparent;
}

.icon-wrapper img {
  filter: invert(1); /* Invert colors of the images (e.g., black to white) */
  opacity: 1 !important; /* Force full opacity */
}

.heart:hover,
.play:hover,
.dots:hover {
  transform: scale(1.3);
}

/* Media query for tablets (landscape mode) */
@media (min-width: 667px) {
  .icon-wrapper {
    gap: 20px;
  }

  .heart,
  .dots {
    width: 45px;
  }

  .play {
    width: 55px;
  }
}

/* Media query for desktop screens */
@media (min-width: 1025px) {
  .icon-wrapper {
    gap: 8px;
  }
}
