.icon-container {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s; /* Smooth transition for showing icons */
}

.icon-container:hover {
    opacity: 1; /* Ensure the icons are fully visible on hover */
}

.icon-button {
    border: none;
    width: 45px;
    height: 45px; /* Added height for consistency */
    background-color: transparent;
    cursor: pointer; /* To indicate it's clickable */
    padding: 0; /* Remove any default padding */
    margin-right: 20px; /* Add space to the right of each button */
    transition: filter 0.3s ease-in-out, transform 0.2s; /* Smooth transition for the filter and transform */
}

.icon-button:last-child {
    margin-right: 0; /* Ensure the last button doesn't have a margin on the right */
}

.icon-button img {
    width: 100%; /* Ensure the SVG fills the button */
    height: auto; /* Maintain aspect ratio */
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(100%) contrast(100%);
    /* Adjust this filter as needed. This is a starting point for a white appearance. */
    transition: filter 0.3s ease; /* Smooth transition for the filter */
}

.icon-button:hover img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(200%) contrast(100%);
    /* Increase brightness on hover for a "whiter" appearance */
}

/* New style for when an icon-button is clicked/active */
.icon-button:active {
    transform: scale(1.3); /* Slightly reduce the button size to give a pressed effect */
}

