.artistName a {
  text-decoration: none; /*remove underline by default*/
  font-family: Helvetica Neue;
  font-size: 14px;
  color: #a0a0a0;
}

.artistName a:hover {
  text-decoration: underline;
}

.artistName {
  padding-top: 10px;
}
