.album-title-link h2 {
    margin: 0 0 0.25em 0;
}

.album-title-link a {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

.album-title-link a:hover {
    text-decoration: underline;
  }