/* .albums {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  margin: 33px;
} */

.album {
  /* width: 300px; */
}

.albums {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 20px;
  /* align-content: center; */
}

/* Media Queries for tablet */
@media screen and (min-width: 667px) {
  .albums {
    width: 700px;
  }
}

/* Media Queries for desktop */
@media screen and (min-width: 1024px) {
}
