*{
  font-size: 14px;
}

.albumInfo{
  margin-bottom: 2px;
  margin-top: 6px;
}

.albumName{
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  font-family: "Helvetica";
  text-decoration: none;
}

.albumName:hover{
  text-decoration: underline;
}

@media (min-width:1025px){
  .albumInfo{
    margin-bottom: 4px;
    margin-top: 6px;
  }
}

