.section__album {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.album-title,
.artist-name {
  cursor: pointer;
  width: fit-content;
  position: relative;
  transition: color 0.3s ease-in-out;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
  display: block;
  margin: 10px 0;
}

.album-title {
  font-weight: 600;
  font-size: 14px;
  color: var(--clr-white);
}

.artist-name {
  font-size: 14px;
  color: var(--clr-artist-title);
  display: inline;
}

.artist-name:hover,
.album-title:hover {
  border-bottom: 1px solid var(--clr-white);
  color: var(--clr-white);
}

.coverImage {
  /* min-width: 300px; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coverImage:hover::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.coverImage:hover .play-icon {
  display: block;
}

.play-icon {
  display: none;
  cursor: pointer;
  width: 30px;
  filter: invert(80%);
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.play-icon:hover {
  scale: 1.2;
  filter: invert(100%);
}

.play {
  width: 50px;
  z-index: 100;
}

.dots {
  right: 50px;
}

.heart {
  left: 50px;
}
