.AlbumName a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.AlbumName a:hover {
  text-decoration: underline;
}

.AlbumName h3 {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  ;
}

@media (min-width: 668px) {
  .AlbumName h3 {
    max-width: 200px;
  }

}