.artist-name a {
  text-decoration: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #a0a0a0;
  transition: color 0.3s ease;
}

.artist-name a:hover {
  text-decoration: underline;

}

.artist-name h3 {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #a0a0a0;
}

@media (min-width: 668px) {}