.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-image {
  max-width: 280px;
}
.cover-image img {
  width: 270px;
  object-fit: scale-down;
}

 .image-container:hover .cover-image img {
  filter: brightness(50%);
 }
 
.image-container:hover .icons {
  opacity: 1;
}

.icons {
  position: absolute;
  display: flex;
  gap: 30px;
  opacity: 0;
}

.heart-icon {
  width: 20px;
  display: flex;
}

.dots-icon {
  width: 20px;
  display: flex;
}

.play-icon {
  width: 60px;
  display: flex;
}

.heart-icon img,
.play-icon img,
.dots-icon img {
  filter: brightness(0) invert(1);
}

