/* .itemsContainer {
  background:red; 
  float:left;
  position:relative
}
.itemsContainer:hover .play{display:block}
.play{
position : absolute;
  display:none;
  top:20%; 
  width:40px;
  margin:0 auto; left:0px;
  right:0px;
  z-index:100
} */

.icons {
  max-width: 40px;
}

.heart-icon img,
.play-icon img,
.dots-icon img {
  filter: brightness(0) invert(1);
}

.image img:hover {
  /* Dark overlay on hover */
  filter: brightness(50%);
}
