.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container:hover .cover-image img {
  filter: brightness(50%);
}

.image-container:hover .icons {
  opacity: 1;
}

.icons {
  position: absolute;
  display: flex;
  gap: 30px;
  opacity: 0;
}

.heart-icon {
  width: 20px;
  display: flex;
}

.dots-icon {
  width: 20px;
  display: flex;
}

.play-icon {
  width: 60px;
  display: flex;
}

/* Play button gets bigger on hover */
.play-icon img:hover {
  transform: scale(1.1);
}

.heart-icon img,
.play-icon img,
.dots-icon img {
  filter: brightness(0) invert(1);
}
