/* The CSS styles are applied to format the artist's name as a clickable link with specific styling, including a hover effect. */
.artist-name-link {
  display: flex;
}

.artist-name-link h3 {
  margin: 0 0 0.75em 0;
}

.artist-names a {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #a0a0a0;
  text-decoration: none;
  margin: 0;
}

.artist-names a:hover {
  text-decoration: underline;
}