.artist-name h3 {
    font-family: Helvetica;
    font-size: 14px;
    color: #a0a0a0;
}

.artist-name a {
    text-decoration: none;
}

.artist-name a:hover{
    color: #a0a0a0;
    text-decoration: underline;
}