.ArtistName {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold;
}

.ArtistName:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}