/* styling for the <p> elements inside elements with the class .artist-name */
.artist-name p {
    font-family: Helvetica;
    color: #a0a0a0;
    font-size: 14px;
}

/* styling for anchor (<a>) elements inside elements with the class .artist-name */
.artist-name a {
    text-decoration: none; /* Removes the default underline decoration for links */
    color: #a0a0a0; /* Set the default link color */
}

/* styling for anchor elements when artist name(s) is hovered over */
.artist-name a:hover {
    text-decoration: underline; /* Adding an underline decoration on hover */
}
