.playlist-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

h2 span {
  font-size: 14px;
}

/* DESKTOP */
@media (min-width: 1024px) {
  .playlist-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
