.header {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text {
    font-family: Helvetica;
    font-size: 40px;
    color: #ffffff;    
}