header {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  line-height: 0;
  margin-bottom: 0;
}

.logo {
  width: 50px;
  filter: invert(100%);
}
