.header {
    display: flex;
    justify-content: space-between;
    
    padding: 20px 40px;
    background-color: #0c0b0b;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    
}

