.album-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.album-items {
  width: 300px;
  height: 300px;
  background-color: Black;
  border-radius:20px;
}

/* Cover Image & Play icons */
.album-cover-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-icons {
  position: absolute;
  display: flex;
  filter: invert(100);
}

.play-icons .icon {
  width: 70px;
  margin: 0 10px;
  transition: all 1s ease-in-out;
}

.play-icons .heart,
.play-icons .dots {
  width: 40px;
}

.play-icons .icon:hover {
  transform: scale(1.2);
}

.album-cover {

  border-radius: 20px;
}


.album-cover {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.album-cover:hover {
	opacity: .5;
}






.a-links:hover {
  text-decoration: underline;
  
}


