.albumName {
  font-size: 14px;
  font-weight: bolder;
  font-family: Helvetica;
  color: #ffffff;
  margin: 10px 0px 5px;
}

.albumName a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
  text-align: left;
}

.albumName a:hover {
  color: #ffffff;
  text-decoration: underline;
}