.album-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  gap: 20px;
}

.album-items {
  border-radius: 20px;
  position: relative;
}

/* Cover Image & Play icons */
.album-cover-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.album-cover-container:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  z-index: 100;
  border-radius: 20px;
  opacity: 0.5;
}

.play-icons {
  position: absolute;
  display: flex;
  filter: invert(100);
  z-index: 200;
}

.play-icons .icon {
  width: 62px;
  margin: 0 10px;
  transition: all 1s ease-in-out;
}

.play-icons .heart,
.play-icons .dots {
  width: 30px;
}

.play-icons .icon:hover {
  transform: scale(1.2);
}

.album-cover {
  border-radius: 20px;
}

.album-link a {
  margin-top: 10px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
}

.artist-link a {
  margin-top: 1px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 14px;
  color: #a0a0a0;
  text-decoration: none;
}

.artist-link:hover {
  text-decoration: underline;
  color: #a0a0a0;
}

.album-link:hover {
  text-decoration: underline;
}

/*  Two column grid on tablet  */
@media (max-width: 1400px) {
  .album-container {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}

/* One column grid on mobile */
@media (max-width: 740px) {
  .album-container {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }
}
