/* ---------------- Overall styling ---------------- */
body {
    font-family: Helvetica, Arial, sans-serif;
    background: #000000;
    margin: 2rem;
    color: white;
}

.albums-heading {
    margin: 0;
}

/* ---------------- Grid layout ---------------- */
.body-container {
    grid-template-columns: 1fr; /* 1 column on mobile */
    grid-template-rows: auto auto auto auto auto auto; /* Six rows for mobile layout */
}

.header {
    grid-column: 1;
    grid-row: 1;
}

.random-album {
    grid-column: 1;
    grid-row: 2;
}

.albums-heading {
    grid-column: 1;
    grid-row: 3;
}

.album-cards {
    grid-column: 1;
    grid-row: 4;
    overflow: scroll;
}

.playlist-heading {
    grid-column: 1;
    grid-row: 5;
}

.playlist-section {
    grid-column: 1;
    grid-row: 6;
    overflow: scroll;
}

/* ---------------- Media queries for grid layout ---------------- */
/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {
    .body-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns on tablet */
        grid-template-rows: auto auto auto auto auto;
        gap: 2rem;
    }

    .header {
        grid-column: 2;
        grid-row: 1; /* Adjust the row as needed */
    }
    
    .random-album {
        grid-column: 1;
        grid-row: 1; /* Adjust the row as needed */
        margin: 0;
    }
    
    .albums-heading {
        grid-column: 1 / 2;
        grid-row: 2;
    }
    
    .album-cards {
        grid-row: 3;
        grid-column: 1 / span 2;
        display: grid; /* Using grid to correctly position the cards on each device width */
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    
    .playlist-heading {
        grid-column: 1 / 2; /* Adjust to make room for album-cards */
        grid-row: 4; /* Adjust the number of rows as needed */
    }
    
    .playlist-section {
        grid-column: 1 / span 2; /* Adjust to make room for album-cards */
        grid-row: 5; /* Adjust the number of rows as needed */
        overflow: scroll;
    }
}
  
/* Desktop styles */
@media (min-width: 1025px) {
    .body-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto 1120px auto; /* Define four rows */
        gap: 2rem;
    }
    
    .header {
        grid-column: 2 / 5;
        grid-row: 1; /* Adjust the row as needed */
    }
    
    .random-album {
        grid-column: 1;
        grid-row: 1; /* Adjust the row as needed */
        margin: 0;
    }
    
    .albums-heading {
        grid-column: 2 / 5;
        grid-row: 2;
    }
    
    .album-cards {
        grid-column: 2 / 5;
        grid-row: 3; /* Adjust the row as needed */
        display: grid; /* Using grid to correctly position the cards on each device width */
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        overflow: scroll;
    }
    
    .playlist-heading {
        grid-column: 1;
        grid-row: 2; /* Adjust the number of rows as needed */
    }
    
    .playlist-section {
        grid-column: 1;
        grid-row: 3; /* Adjust the row as needed */
        overflow: scroll;
    }
}
