.artistName span {
  font-size: 14px;
  font-family: Helvetica;
  color: #a0a0a0;
}

.artistName a {
  text-decoration: none;
  color: #a0a0a0;
  transition: color 0.3s ease;
  display: inline;
  text-align: left;
  /* Ensures artist names are on the same line */
}

.artistName a:hover {
  color: #fff;
  text-decoration: underline;
}