.cover-image-wrapper {
    position: relative;
    display: flex;
  }
  
  .cover-image-wrapper:hover .overlay {
    display: flex;
  }
  
  .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0;
  }
  
  .overlay-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
  }
  
  .custom-button {
    max-width: 62px;
    min-width: 36px;
    height: auto;
    margin: 0 18px;
    opacity: 0.5;
  }
  
  .custom-button:hover {
    transform: scale(1.25);
    transition: transform 0.1s;
    opacity: 1;
  }
  
  .cover-image img {
    max-width: 100%;
    max-height: 100%;
  }
  