.header {
  --transition-speed: 0.3s;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #181818;
  -webkit-transition: var(--transition-speed);
  transition: var(--transition-speed);
}

.animate {
  background-color: #181818;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-duration: 20s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 52px;
  height: 26px;
  bottom: 4px;
  left: 4px;
  background-color: white;
  -webkit-transition: var(--transition-speed);
  transition: var(--transition-speed);
}

.slider:after {
  position: absolute;
  content: "";
  width: 52px;
  height: 26px;
  bottom: 4px;
  right: 4px;
  border-radius: 26px;
  background-color: white;
  -webkit-transition: var(--transition-speed);
  transition: var(--transition-speed);
}

input:checked + .slider {
  background-color: #181818;
  animation-name: none;
}

input:focus + .slider {
  box-shadow: 0 0 1px #181818;
}

input:checked + .slider:before {
  height: 20px;
  width: 20px;
  bottom: 7px;
}
input:checked + .slider:after {
  height: 20px;
  width: 20px;
  bottom: 7px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 20px;
}

@keyframes blink {
  0%,
  2%,
  4%,
  6% {
    background-color: #181818;
  }
  1%,
  3%,
  5% {
    background-color: #ccc;
  }
}
