.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 45%;
    width: 100%;
    gap: 20px;
    opacity: 0;
}
  
.icon {
    filter: invert(1);
    padding: 1px 6px;
    width: 40px;
}

.album-cover:hover>.icon-container {
    opacity: 1;
    transition: 0.4s;
}

.icon:hover {
    scale: 1.4;
}

@media (min-width: 1024px) {
    .icon-container {
        gap: 10px;
    }
    
    .icon {
        width: 30px;
    }

    .icon:hover {
        scale: 1.6;
    }
}