.cover{
    position: relative;
}

.cover img{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;

}

.cover:hover{
    cursor: pointer;
    .overlay-icons{
        display: flex;
    }
}

.overlay-icons{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-evenly;
    align-items: center;
}

.overlay-icons:hover{
    background-color: rgba(0, 0, 0, 0.445);
    transition: .3s;
}

#dots, #heart {
    width: 40px;
    fill: white;
    transition: transform 0.5s;
}

#play {
    width: 60px;
    fill: white;
    transition: transform 0.5s;
}

#play:hover{
    transform: scale(1.7);
}

#dots:hover, #heart:hover{
    transform: scale(1.5);
}