.album-title-link h2 {
  margin: 0 0 0.3em 0;
}

.album-title-link a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
}

.album-title-link a:hover {
  text-decoration: underline dotted;
}
