.sidebar {
  position: absolute;
  top: 0;
  z-index: 9999;
  padding: 0 15px;
  background: #11112f;
}

.sidebar .playlist-item {
  margin-top: 100px;
}

.sidebar h2 {
  font-size: 1.2rem;
  color: #fff;
}

.sidebar .playlist-item ul {
  margin: 2em 0 5em;
}

.sidebar .playitem-container {
  display: flex;
}

.sidebar .playlist-items {
  background: #020222;
  display: flex;
  margin: 20px 0;
  border-radius: 10px;
  padding: 10px;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar .playlist-items:hover {
  background: #eb5f70;
}

.sidebar .playlist-items:hover .description {
  color: #fff;
}

.sidebar .playlist-items img {
  border-radius: 10px;
}

.sidebar .album-info {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3.5em 0 1.5em;
}

.sidebar .artist-name {
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.5em;
}

.sidebar .description {
  color: #9b9bbf;
}

.sidebar .playcontroll__flex_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.playcontroll__image_div {
  width: 40px;
  display: flex;
  justify-content: space-between;
}
.sidebar .playcontroll__image_div {
  filter: invert();
}
.sidebar .playcontroll__image_div img {
  width: 30px;
  height: 30px;
}

.sidebar .playcontroll__image_div_heart,
.sidebar .playcontroll__image_div_dots {
  flex-basis: 15%;
}

.sidebar .playcontroll__image_div_play {
  flex-basis: 25%;
}

/* Använd mediaförfrågningar för att ändra storleken på playikonerna beroende på skärmbredden. */
@media screen and (max-width: 768px) {
}
