.sideBar {
  height: 100%;
  width: 50px;
  position: fixed; /* Fixed Sidebar  */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background: #191b1b;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 15px;
  box-sizing: border-box;
}
.sideBar a {
  font-family: Helvetica;
  color: #a0a0a0;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 8px;
  display: block;
  text-align: center;
  text-transform: capitalize;
}
.sideBar img {
  width: 100%;
  height: auto;
}

@media (min-width: 669px) and (max-width: 1024px) {
  .sideBar {
    width: 100px;
  }
  .sideBar a {
    font-size: 15px;
  }
}
@media (min-width: 1025px) {
  .sideBar {
    width: 200px;
  }
  .sideBar a {
    font-size: 18px;
  }
}
