header {
  text-align: center;
  padding: 20px 0 40px 0;
}

h1 {
  color: white;
}

/* Media Queries for tablet */
@media screen and (min-width: 667px) {
  header {
    width: 800px;
    margin: 0 auto;
  }
}

/* Media Queries for desktop */
@media screen and (min-width: 1024px) {
  header {
    width: 1400px;
    margin: 0 auto;
  }
}
