.header {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  color: white;
  /* margin-bottom: 2em; */
  font-weight: bold;
}

.header1 {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 2em;
}
