.album-cover {
    position: relative;
}

/* Target the image directly, instead of .album-cover img, otherwise the rules max-width will apply to the whole cover */
img {
    width: 100%;
    max-width: 550px;
    height: auto;
}

.album-cover:hover>img {
    opacity: 0.3;
    transition: 0.4s;
}

