.artist-card {
    font-family: Helvetica;
    color: #a0a0a0;
    font-size: 14px;
    margin: 0;
    flex-wrap: wrap;
}

.artist-card p {
    margin: 0;
}

.artist-link {
    color: inherit;
    text-decoration: none;
}

.artist-link:hover {
    text-decoration: underline;
}