.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  padding: 10px;
  font-size: 48px;
  font-weight: 700;
  color: beige;
}

.nav-wrapper{
  padding-left: 2rem;
}

.type-btn {
  font-size: 14px;
  font-weight: 400;
  position: relative;
  top: 50%;
  background-color: rgba(44, 41, 41, 0.6);
  color: #ffffff;
  border: none;
  border-radius: 15px;
  margin: 5px;
  min-height: 30px;
  min-width: 40px;
}

.type-btn:hover {
  background-color: rgba(44, 41, 41);
  cursor: pointer;
}

.type-btn:focus {
  background-color: #ffffff;
  color: rgba(44, 41, 41);
}



