.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  padding: 10px;
  font-size: 48px;
  font-weight: 700;
  color: beige;
}

.nav-wrapper{
  padding-left: 2rem;
}





