/*variables */

/* GRID */
body {
	border: 0;
	margin: 0;
	overflow:none;
	height: auto;
	background-color: #181818;
	font-family: Helvetica, arial sans-serif;
	font-size: 14px;
}

.album-wrap {
	display: grid;
	grid-template: auto, 1fr;
	grid-gap: 1.5em;
	place-items: center;
}

@media(min-width: 667px) {
	.album-wrap {
		grid-template-columns: 1fr 1fr;
	}
}

@media(min-width: 1025px) {
	.album-wrap {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

}