:root {
  margin: 0;
  font-family: -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* General Styles */
span {
  font-weight: bold;
}

/* Header CSS */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  padding: 1em 0em;
  color: #1dd05d;
  font-size: 24px;
  font-weight: 700;
  ;
}

header img {
  width: 20%;
}

/*AlbumImage.js CSS - to display Albumn image, 3 icons, hover effects */
.image-wrapper {
  display: flex;
  justify-content: center;
}

.album-cover {
  position: relative;
  width: 100%;
}

.album-cover img {
  width: 100%;
}

.album-cover:hover {
  opacity: 0.2;
  transition: opacity 0.3s ease-in-out;
}

.album-cover:hover>.three-hover-buttons {
  display: flex;
  opacity: 1;
}

.three-hover-buttons {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1em;
  cursor: pointer;
  top: 0;
  left: 0;
  margin: 45%;
  opacity: 0;
}

.button-heart,
.button-play,
.button-dots {
  gap: 1em;
  cursor: pointer;
  filter: invert();
  transition: opacity 0.2s ease-in-out;
}

.button-heart:hover,
.button-play:hover,
.button-dots:hover {
  transform: scale(1.6);
}

/* Explanation CSS */
.explanation {
  padding: 2em;
}

/* Grid parent CSS */
.album-outer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1em;
  background-color: black;
}

/* Grid child CSS */
.album-info {
  background-color: #242424;
  padding: 2px;
  margin: 2px;
  text-align: center;
  padding: 1em;
  border-radius: 10px;
}

.artists-names,
.single-or-album,
.album-names {
  color: white;
  text-decoration: none;
  font-weight: 400;
}

.artists-names:hover {
  text-decoration: underline;
}

.album-names:hover {
  text-decoration: underline;
}

/*this doesn't work, one way I tried to solve the comma problem*/
.artist-name:not(:first-child, :last-child)::before {
  color: white;
  content: ", ";
}

/*media query for mobile - 1 columns .*/
@media screen and (max-width: 667px) {
  .album-info {
    grid-column: span 4;
  }
}

/*media query for tablet- 2 columns .*/
@media screen and (min-width: 668px) and (max-width: 1024px) {
  .album-info {
    grid-column: span 2;
  }
}

/*media query for desktop - 4 columns .*/
@media screen and (min-width: 1025px) {
  .album-info {
    grid-column: span 1;
  }
}