/* // RESET */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #090a25;
  color: #fff;
  max-width: 100vw;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  /* removes the small padding */
  display: block;
  /* will make the images responsive */
  max-width: 100%;
  height: auto;
}

/* || GENERAL STYLE */
:root {
  font-family: "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* HEADER */
header {
  background: #06061b;
  display: flex;
  align-items: center;
  /* Same as albums */
  padding: 15px;
  position: relative;
  z-index: 99999;
}

header h1 {
  color: white;
  padding: 0 20px;
  position: relative;
  font-size: 2.2rem;
}

header .spotify-icon {
  filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg)
    brightness(119%) contrast(119%);
}

/* MAIN */

/* BRANCH Albums/singles change */
.main__albums_singles {
  display: flex;
  gap: 30px;
  padding: 30px;
  justify-content: space-between;
}

.main__albums_singles_column {
  flex-basis: 50%;
  position: relative;
}

.main__albums_singles_column:first-of-type::after {
  content: "";
  border-right: 1px solid #a0a0a0;
  position: absolute;
  height: 100%;
  right: -15px;
  top: 0;
}

.main__albums_singles_container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(50% - 30px);
  gap: 30px;
}

/* // BRANCH Albums/singles change */

.albumOuter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

/* BRANCH Albums/singles change */

.album-item {
  flex-basis: calc(50% - 15px);
  position: relative;
}

/* // BRANCH Albums/singles change */

.albumCoverImage {
  width: 100%;
  height: auto;
}

/* BRANCH Albums/singles change */

/* MEDIA QUERIES */

@media screen and (max-width: 767px) {
  /* HEADER */
  header {
    justify-content: center;
  }
  header h1 {
    font-size: 1.5rem;
  }
  /* MAIN CONTAINER */
  .main__albums_singles {
    flex-direction: column;
  }
  .main__albums_singles_column {
    flex-basis: 100%;
  }

  .album-item {
    flex-basis: 100%;
  }

  .main__albums_singles_column:first-of-type::after {
    border: 0px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .album-item {
    flex-basis: 100%;
  }
}

/* // BRANCH Albums/singles change */
