:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


/* APP Component CSS */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.album-title,
.album p {
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  color: #ffffff !important; /* Set the default color to white */
  text-decoration: none; /* Remove underline by default */
  padding: 10px;
}

.artist {
  font-family: Arial, Helvetica, sans-serif;
  color: #a0a0a0 !important; /* Set the artist text color to white */
  font-size: 14px;
  padding: 20px;
}


/* Remove underline by default for all links within album and its descendants */
.album a {
  text-decoration: none;
}

/* Add underline when hovering on album title and artist */
.album-title:hover,
.artist:hover {
  text-decoration: underline; /* Add underline on hover */
}

/* CSS for Album Container */
.album a{
  position: relative;
  transition: filter 0.3s; /* Add a transition for the hover effect */
}

.album:hover {
  filter: brightness(0.8); /* Darken the album on hover */
}

/* Play Button CSS */
.album::before,
.album .ellipsis {
  /* Create a pseudo-element for both the play button and ellipsis */
  content: ''; /* No content for now */
  position: absolute;
  font-size: 24px;
  color: white;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: transform 0.25s, border-color 0.25s;
}

.album::before {
  /* Styles for the play button pseudo-element */
  left: 50%;
  top: 50%; /* Adjust top property to center vertically */
  border: 2px solid white;
}
.album:hover::before {
  /* Show the play button when the album is hovered */
  content: '\25B6'; /* Unicode character for a play button */
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.2);
  border-color: white;
}

/* Favorite Button CSS */
.album::after {
  content: '\2665'; /* Unicode character for a heart (favorite) */
  position: absolute;
  top: 50%;
  left: calc(48% - 40px); /* Adjust the left property to align with play button */
  transform: translate(-50%, -50%); /* Center it vertically */
  font-size: 24px;
  color: white;
}
.album .ellipsis {
  /* Additional styles for the ellipsis */
  position: absolute;
  top: 49%;
  right: calc(44% - 40px); /* Adjust the right property to align with play button */
  transform: translate(-50%, -50%); /* Center it vertically */
  font-size: 24px;
  color: white;
}

.album:hover .ellipsis {
  /* Show the ellipsis when the album is hovered */
  opacity: 1;
}
/* CSS for Album Container */
.album-container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Automatically adjust column width */
}

.album {
  position: relative;
  transition: filter 0.3s; /* Add a transition for the hover effect */
}
/* Media Query for Desktop Devices */
@media (min-width: 769px) {
  .album-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px; /* Add some gap between albums */
  }

  .album {
    width: 100%; /* Make each album container take up the full width of its grid cell */
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  .album img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin: 0 auto;
  }

  /* Common styles for ellipsis, heart, and play button */
  .album::before,
  .album::after,
  .album .ellipsis {
    position: absolute;
    font-size: 24px;
    color: white;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: transform 0.25s, border-color 0.25s;
  }

  .album::before {
    left: 50%;
    top: 50%;
    border: 2px solid white;
  }

  .album::after {
    content: '\2665';
    top: 50%;
    left: calc(50% - 40px);
  }

  .album .ellipsis {
    bottom: 10px;
    right: 80px; 
  }

  /* Adjust the font size for desktop screens */
  .album:hover::before {
    transform: translate(-50%, -50%) scale(1.2);
    border-color: white;
  }
}

/*For tablet devices*/
  @media (max-width: 768px) {
    .album {
      width: 100%;
      height: auto;
      box-sizing: border-box;
      text-align: center;
      display: flex;
      flex-direction: column;
      position: relative;
    }
  
    .album img {
      max-width: 100%;
      height: auto;
      display: inline-block;
      margin: 0 auto;
    }
  
    /* Common styles for ellipsis, heart, and play button */
    .album::before,
    .album::after,
    .album .ellipsis {
      position: absolute;
      font-size: 24px;
      color: white;
      width: 36px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: transform 0.25s, border-color 0.25s;
    }
  
    .album::before {
      left: 50%;
      top: 50%;
      border: 2px solid white;
    }
  
    .album::after {
      top: 50%;
      left: calc(50% - 40px);
    }
  
    .album .ellipsis {
      bottom: 10px;
      right: 80px; 
    }
  
 
    .album:hover::before {
      transform: translate(-50%, -50%) scale(1.2);
      border-color: white;
    }
  
  }

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .album {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .album img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin: 0 auto;
  }

  /* Common styles for ellipsis, heart, and play button */
  .album::before,
  .album::after,
  .album .ellipsis {
    position: absolute;
    font-size: 24px;
    color: white;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: transform 0.25s, border-color 0.25s;
  }

  .album::before {
    left: 50%;
    top: 50%;
    border: 2px solid white;
  }

  .album::after {
    top: 50%;
    left: calc(50% - 40px);
  }

  .album .ellipsis {
    bottom: 10px;
    right: 120px; /* Adjust the left position here */
  }

  /* Adjust the font size for mobile screens */
  .album:hover::before {
    transform: translate(-50%, -50%) scale(1.2);
    border-color: white;
  }
}