body {
  background-color: #181818;
}

.album-name {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin-bottom: 4px;
  align-self: flex-start;
}

.album-name:hover {
  text-decoration: underline;
}

.artist-name {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #a0a0a0;
  text-decoration: none;
}

.artist-name-list {
  color: #a0a0a0;
  align-self: flex-start;
}

.artist-name:hover {
  text-decoration: underline;
}

.album-container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.album-cover-container {
  position: relative;
  margin-bottom: 8px;
}

.album-cover-image {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay,
.overlay-icons {
  display: none;
}

.album-cover-container:hover .overlay {
  position: absolute;
  gap: 1.2rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.icon {
  transition: transform 0.3s ease;
  opacity: 75%;
}

.icon:hover {
  opacity: 100%;
}

.play:hover .play-icon {
  transform: scale(1.2);
}

/* Responsive */
.albums-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media (max-width: 768px) {
  .albums-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .albums-container {
    grid-template-columns: 1fr;
  }
}
