:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: black;
  margin: 25px 50px 25px 50px;
}

.album-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
}
/* Header*/
.header-text {
  font-family: Helvetica;
  font-size: 40px;
  color: #ffffff;
  text-align: center;    
}
/* CoverImage*/
.cover-image {
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-image img {
  width: 100%;
}

.icon {
  width: 45px;
  background-color: transparent;
  opacity: 1;
}

.icon:hover {
  scale: 1.3;
}

button {
  border: none;
}

svg {
  fill:white;
}

.button-wrapper {
  position: absolute;
  display: none;
  opacity: 1;
}

.play {
  width: 50px;
}

.cover-image:hover > img {
  opacity: 0.5;
  transition: 0.4s;
}

.cover-image:hover .button-wrapper {
  display: block;
  transition: 0.4s;
}

/* Artist*/
.artist-name h3 {
  font-family: Helvetica;
  font-size: 14px;
  color: #a0a0a0;
}

.artist-name a {
  text-decoration: none;
}

.artist-name a:hover{
  color: #a0a0a0;
  text-decoration: underline;
}


/* Album*/
.album-name h2 {
  font-family: Helvetica;
  font-size: 14px;
  color: #ffffff;
}

.album-name a {
  text-decoration: none;
}

.album-name a:hover{
  color: #ffffff;
  text-decoration: underline;
}


@media (min-width: 667px) {
  .album-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1025px) {
  .album-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}