.album-name {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

.artist-name {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #a0a0a0;
  text-decoration: none;
}

.album-container {
  position: relative;
  width: 200px;
  margin: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.album-container img {
  width: 100%;
  display: block;
  transition: filter 0.3s ease;
}

.album-cover-container:hover img {
  filter: brightness(50%);
}

.overlay,
.overlay-icons {
  display: none; /* デフォルトでは非表示 */
}

.album-container:hover .overlay {
  display: flex; /* ホバー時に表示 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* 半透明の黒色のオーバーレイ */
  color: #ffffff;
  justify-content: center;
  align-items: center;
  gap: 10px; /* ボタン間の間隔 */
  transition: opacity 0.3s ease;
}

.play-icon > svg {
  fill: white;
}

.play:hover,
.favorite:hover,
.more-info:hover {
  transform: scale(1.2); /* ホバー時に各アイコンを大きく表示 */
}

/* Responsive Design */
.albums-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 768px) {
  .albums-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .albums-container {
    grid-template-columns: 1fr;
  }
}
