:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(0, 0, 0);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Oxygen" , "sans-serif";

}
.header{
  color: whitesmoke;
  text-shadow: 2px 3px 3px rgba(275, 275, 275, 0.4);
  margin-top: 28px;
 
  
}
.header h1{
  font-size: 25px;
  margin-bottom: 10px;
}

.album-wrapper{
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr;
}
.artist-name a{
  color: rgb(136, 133, 133);
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  display:block;
  

}
.artist-name a:hover{
  text-decoration: underline;

}
.album{
  margin-bottom: 50px;
  
}
.album-name a{
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
  display:block;
  margin-top: 10px;
}
.album-name a:hover{
  text-decoration: underline;
}

.image-wrapper{
  position: relative;
}
.cover-img{
  transition: all 0.5s;
}
.image-wrapper:hover > .cover-img{
  opacity: 0.3;
}
.icon-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 transition: all 0.5s;
 opacity: 0;
 width: 100%;
}

.image-wrapper:hover > .icon-wrapper{
 opacity: 1;
}

button{
  background-color: transparent;
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  font-size: 30px;
  margin-right: 30px;
  cursor: pointer;


}
.like-icon:hover{
 transform: scale(1.5);
}
.play-icon:hover{
  transform: scale(1.5);
 }
 .dott-icon:hover{
  transform: scale(1.5);
 }

 @media screen and (min-width:820px) {
  .album-wrapper{
    grid-template-columns: repeat(2 ,1fr);
  }
  .header h1{
    font-size: 35px;
  }
  .header p{
    font-size: 25px;
  }
  .artist-name a{
    font-size: 22px;
  }
  .album-name a{
    font-size: 24px;
  }
  button{
    font-size: 40px;
    
  }
 }
 @media screen and (min-width:1100px) {
  .album-wrapper{
    grid-template-columns: repeat(4 ,1fr);
    gap: 10px;
  }
  body{
    padding: 0 40px 30px 40px;
  }
  
 }