body {
  background-color: black;
  display: block;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  /* align-content: space-evenly; */
}

.img {
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
}

.img:hover {
  filter: brightness(50%);
}

.artist-list::after {
  content: ", ";
}

.artist-list:last-child::after {
  content: "";
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

a:link {
  color: gainsboro;
}

a:hover {
  color: rgb(177, 177, 177);
  text-decoration: underline;
}

.header {
  padding: 20px 0 20px 0;
  text-align: center;
  color: white;
}

.album-name {
  color: white;
}

.a-artist {
  color: rgb(159, 159, 159);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: space-evenly;
  }

  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: space-evenly;
  }

  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 20px;
  }

  .content {
    justify-content: center;
  }
}
