.section__album {
  margin-top: 50px;
}

.single-container,
.album-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  gap: 20px;
}

.single-wrapper,
.album-wrapper {
  margin-top: 100px;
}

.album__list .coverImage img {
  border-radius: var(--radius);
}

.section__album .album-title,
.section__album .artist-name {
  cursor: pointer;
  width: fit-content;
  position: relative;
  transition: color 0.3s ease-in-out;
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;
  display: block;
  margin: 10px 0 5px;
}

.section__album .album-title {
  font-weight: 600;
  font-size: 14px;
  color: var(--clr-white);
}

.section__album .artist-name,
.section__album .separator {
  font-size: 14px;
  color: var(--clr-artist-title);
  display: inline;
}

.section__album .artist-name:hover,
.section__album .album-title:hover {
  border-bottom: 2px solid var(--clr-white);
  color: var(--clr-white);
}

.section__album .coverImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__album .coverImage::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: var(--radius);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-out 100ms;
}

.section__album .coverImage:hover::before {
  opacity: 1;
}

.section__album .coverImage:hover .play-icons-container {
  display: flex;
  justify-content: center;
}

.section__album .coverImage .play-icons-container {
  display: none;
  position: absolute;
}

.section__album .coverImage .play-icon {
  filter: invert(80%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.section__album .coverImage .play-icon:hover {
  scale: 1.2;
  filter: invert(100%);
}

.section__album .coverImage .play-icon {
  margin: 0 20px;
  width: 60px;
}

.section__album .coverImage .dots,
.section__album .coverImage .heart {
  width: 30px;
}

/* Tablet: Adjust grid to have 2 columns */
@media (max-width: 1400px) {
  .album-container,
  .single-container {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }

  .section__album .coverImage .play-icon {
    margin: 0 15px;
  }
}

/* Mobile: Adjust grid to have 1 column */
@media (max-width: 740px) {
  .album-container,
  .single-container {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }
}
